.navbar-dark .navbar-nav .nav-link {
    color: #CCE3DE;
  }
  .navbar-dark .navbar-toggler-icon {
     background-color: #CCE3DE;
  }
  .navbar-dark {
    background-color: #242423;
  }
  body {
    background-color: #249273;
    color: #242423;
  }
  .btn-primary {
    background-color: #242423;
    border-color: #242423;
  }
  .btn-primary:hover {
    background-color: #249273;
    border-color: #249273;
  }
  .navbar-brand {
    color: #CCE3DE;
  }
  .custom-image {
    width: 70%; 
    display: block;
    margin: 0 auto;
    padding: 20px; 
  }
  .card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #CCE3DE;
    color: #242423;
  }
  .center-card {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .black{
    color: #000000;
  }
  html, body {
      height: 100%;
  }
  
  .container-fluid, .row, .col-md-8 {
      height: 100%;
  }
  
  .custom-card {
      border: none;
      width: 100%;
      cursor: pointer;
  }
  
  .custom-card img {
      border-bottom: 1px solid #dee2e6;
      border-radius: 0;
  }
  
  .selected-card {
      border: 2px solid #007bff;
  }
  .left-column {
      display: none;
      flex-basis: 1;
  }
  .right-column {
      flex-basis: 2;
      width: 74.59999%;
  }
  .container-fluid {
    display: flex;
    flex-direction: row;
  }